.cuerpo {
    margin: 0px;
    padding: 0px;
    background-image: url(/img/fondo.jpg);
    background-color: rgb(24, 24, 24);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

header {
    display: flex;
    background-color: #585857be;
    align-items: center;
    backdrop-filter: blur(2px);
}

.logo {
    width: 220px;
    border-radius: 2em;
}

.centrar {
    backdrop-filter: blur(2px);
    text-align: center;
    background-color: #585857be;
}

.imagen {
    display: none;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width:548px) {
    header {
        justify-content: space-between;
        background-color: #585857be;
    }

    .esspa {
        display: block;
        padding: 130px;
        background-color: #585857be;
    }

    .logo {
        display: inline;
        width: 200px;
        margin: 10px;
        border-radius: 2em;
    }

    .imagen {
        display: inline;
        width: 150px;
        margin: 10px;
        border-radius: 2em;
    }

    .imagen {
        display: none;
    }


    .abrir-menu,
    .cerrar-menu {
        display: inline;
        background: #585857be;
        margin-left: auto;
    }


    .no_ver {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 2rem;
    }

    .no_ver.visible {
        opacity: 1;
        visibility: visible;
    }

    .abrir-menu.ocultar {
        visibility: hidden;
    }

    .sacar {
        flex-direction: column;
        align-items: end;
    }
}

/*estilos*/

.no_ver {
    margin: auto;
}

.sacar {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin-right: 10px;
}

.espacio {
    margin-left: 100px;
}

@media screen and (max-width:1120px) {
    .espacio {
        margin-left: 100px;
    }
}

@media screen and (max-width:920px) {
    .espacio {
        margin-left: 50px;
    }
}

.bord {
    margin-top: 10px;
    font-size: 1.4em;
    border: none;
    padding: 0px;
}

.color {
    color: aliceblue;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium';
    padding: 4px;
    transition: all 0.35s;
}

.color:hover {
    color: white;
}

/*Cards styles*/

.container {
    color: rgb(0, 0, 0);
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 630px;
}

.container .card {
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: auto;
    width: 270px;
    padding: 2px;
    height: auto;
    background-color: rgba(162, 162, 162, 0.527);
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.25s;
    font-size: 1em;
}

@media screen and (max-width:971px) {
    .container .card {
        margin-left: 50px;
    }
}

@media screen and (max-width:767px) {
    .container .card {
        margin-right: auto;
    }

    .container .card {
        margin-left:auto;
    }
}

.container .card img {
    width: auto;
    height: auto;
    border-radius: 8px;
}

#achicar{
    width: 265px;
    height: 170px;
}

.texto {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium';
    font-size:1.1em;
    text-align:center;
}

.text2 {
    background:none;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium';
    width: 100px;
    font-size:1.1em;
    text-align:center;
    color:gold;
}

#tamano{
    background:black;
    border-radius:20px;
    border:none;
    font-size:1.3em;
    color:white;
}
/*Formulario*/

form {
    margin-bottom: 20px;
}

.fx {
    display: none;
}

.formulario {
    margin-top: 5px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.350);
    border-radius: 4px;
    box-shadow: 7px 13px 37px #00000069;
    display: flexbox;
    box-sizing: content-box;
    text-align: center;
    width: 400px;
    margin: auto;
    transition: all 0.40s;
}

@media screen and (max-width:450px) {
    .formulario {
        width: 300px;
    }
}

@media screen and (max-width:350px) {
    .formulario {
        width: 250px;
    }
}

.formulario:hover {
    background-color: rgba(0, 0, 0, 0.750);
    box-shadow: 7px 13px 37px #000000f3;
}

.formulario h4 {
    font-family: 'Franklin Gothic Medium';
    color: gold;
}

.desaparecer {
    background: none;
    border: none;
    width: 130px;
    margin: auto;
    color: gray;
    font-family: 'Franklin Gothic Medium';
    font-size: 120%;
}

.desaparecer:hover{
    color: gold;
}

.aparecer {
    display: block;
}

.formulario h1 {
    text-align: left;
}

.formulario input {
    width: 95%;
    border-radius: 10px;
    background-color: rgba(83, 83, 83, 0.096);
    font-family: 'Franklin Gothic Medium';
    color: gray;
    transition: all 0.55s;
}

.formulario input:hover {
    border-radius: 5px;
    border-color: 1px solid white;
}

.eni {
    background: none;
    border: none;
    width: 130px;
    margin: auto;
    color: gray;
    font-family: 'Franklin Gothic Medium';
    font-size: 115%;
}

/*Footer*/

.c {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: auto;
    
}

.pie {
    display: inline-flex;
    margin: auto;
    padding-top: 30px;
    
}

.imguno {
    width: 35px;
    height: 35px;
    margin-left: auto;
}

.imgdos {
    width: 35px;
    height: 35px;
    margin-left: auto;
}

.aset {
    padding-top: 5px;
    padding-left: 15px;
    color: gray;
    font-family: 'Franklin Gothic Medium';
    font-size: 115%;
}

.tesa {
    padding-top: 5px;
    padding-left: 15px;
    color: gray;
    font-family: 'Franklin Gothic Medium';
    font-size: 115%;
}

@media screen and (max-width:768px) {
    .pie {
        display: block;
        margin: auto;
        padding-top: 30px;
    }
}
